environment:
  matrix:
    - PYTHON: "C:\\Python27"
      MINICONDA: "C:\\Miniconda"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "32"

#    - PYTHON: "C:\\Python27-x64"
#      PYTHON_VERSION: "2.7.x"
#      PYTHON_ARCH: "64"

install:
  - set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%
  - conda update -q conda --yes
  - conda create -q -n appveyor-tests python=%PYTHON_VERSION% --yes
  - activate appveyor-tests
  - conda install --file requirements-dev.txt --yes
  - python setup.py install

build: off

test_script:
  - python setup.py test

on_success:
  - coverage.exe run --source woudc_extcsv setup.py test
  - coverage.exe report -m
